[submodule "OliLoveIt"]
	path = themes/LoveIt
	url = https://github.com/shubhamoli/LoveIt.git

[submodule "themes/Obsession"]
	path = themes/Obsession
	url = https://github.com/shubhamoli/obsession.git
